.navContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.logo {
    height: 150px;
}

.links {
    color: #444;
    text-decoration: none;
}

.links:hover {
    color: var(--accent)
}
