.navContainer {
    max-width: 1200px;
    width: 90%;
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 2rem;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 150px;
}

.links {
    color: #444;
    text-decoration: none;
}

.links:hover {
    color: var(--accent)
}
