.navContainer {
    max-width: 1200px;
    width: 90%;
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 2rem;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.mediaIcon {
    color: white;
    background-color: blue;
}

.mediaIcon:hover {
    cursor: pointer;
}