.navContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.iconsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

h2 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
}


